<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div class="field">
    <label for="email">Email</label>
    <div class="input-container">
      <input id="email" formControlName="email" />
      <div *ngIf="isFieldInvalid('email')">
        <span class="error-line">
          {{ `${getFieldError('email') === 'pattern' ?`${errMsg.INVALID} email format` : `email ${errMsg.REQUIRED}`}` }}
        </span>
      </div>
    </div>
  </div>

  <div class="field">
    <label for="password">Password</label>
    <div class="input-container">
      <input id="password" [type]="passwordFieldType" formControlName="password" />
      <button type="button" class="toggler" (click)="togglePasswordVisibility()">{{ isPasswordVisible ? '🙈' : '👁️‍🗨️' }}</button>
      <div *ngIf="isFieldInvalid('password')">
        <span class="error-line">
          {{ `password ${getFieldError('password') === 'pattern' ? `${errMsg.PASSWORD}` : `${errMsg.REQUIRED}`}` }}
        </span>
      </div>
    </div>
  </div>

  <button type="submit" [disabled]="loginForm.invalid">Login</button>
</form>

<span class="login-redirection">Don't you have an account? <a routerLink="/registration">Sign up</a></span>
