<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login__form">
  <h2>Please, enter your email and password for login</h2>
  <div class="field">
    <label for="email">Email</label>
    <div class="input-container">
      <div class="error__container">
        <div *ngIf="isFieldInvalid('email')">
          <span class="error-line">
            {{ `${getFieldError('email') === 'pattern' ?`${errMsg.INVALID} email format` : `email ${errMsg.REQUIRED}`}` }}
          </span>
        </div>
      </div>
      <input id="email" formControlName="email" placeholder="Adres e-mail *" />
    </div>
  </div>

  <div class="field">
    <label for="password">Password</label>
    <div class="input-container">
      <div class="error__container">
        <div *ngIf="isFieldInvalid('password')">
          <span class="error-line">
            {{ `password ${getFieldError('password') === 'pattern' ? `${errMsg.PASSWORD}` : `${errMsg.REQUIRED}`}` }}
          </span>
        </div>
      </div>
      <input id="password" [type]="passwordFieldType" formControlName="password" placeholder="Password *" />
      <button type="button" class="toggler" (click)="togglePasswordVisibility()">{{ isPasswordVisible ? '🙈' : '👁️‍🗨️' }}</button>
    </div>
  </div>
  <app-button
    label="Login"
    [disabled]="loginForm.invalid"
    class="form__button"
    [ngClass]="{
      form__button_disabled: loginForm.invalid,
      form__button_visible: !loginForm.invalid,
    }"
  />
</form>

<span class="login-redirection">Don't you have an account? <a routerLink="/registration">Sign up</a></span>
