<div class="wrapper">
  <div class="content-wrapper">
    wrapper
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <h2>
        Welcome back! <br />
        Glad to see you again!
      </h2>
      <div *ngIf="errorLoginMessage">
        <p class="error__message">{{ errorLoginMessage }}</p>
      </div>
      <div class="field">
        <label for="email"></label>
        <div class="input-container" [class]="errorLoginMessage ? 'error__input' : ''">
          <input id="email" formControlName="email" placeholder="Adres e-mail *" />
          <div class="error__container">
            <div *ngIf="isFieldInvalid('email')">
              <span class="error-line">
                {{ `${ getFieldError('email') === 'pattern' ?`${ errMsg.INVALID} email format` : `email ${ errMsg.REQUIRED}`}` }}
              </span>
            </div>
          </div>
        </div>
      </div>

      <div class="field">
        <label for="password"></label>
        <div class="input-container" [class]="errorLoginMessage ? 'error__input' : ''">
          <input id="password" [type]="passwordFieldType" formControlName="password" placeholder="Password *" />
          <button type="button" class="toggler" (click)="togglePasswordVisibility()">{{ isPasswordVisible ? '🙈' : '👁️‍🗨️' }}</button>
          <div class="error__container">
            <div *ngIf="isFieldInvalid('password')">
              <span class="error-line">
                {{ `password ${ getFieldError('password') === 'pattern' ? `${ errMsg.PASSWORD}` : `${ errMsg.REQUIRED}`}` }}
              </span>
            </div>
          </div>
        </div>
      </div>
      <app-button
        label="Login"
        [disabled]="loginForm.invalid"
        class="form__button"
        [ngClass]="{
          form__button_disabled: loginForm.invalid,
          form__button_visible: !loginForm.invalid,
        }"
      />
    </form>

    <span class="login-redirection">Don't you have an account? <a routerLink="/registration">Sign up</a></span>
  </div>
</div>
