$color-primary: #071b9f;
$color-additional: #f07800;
$color-overlay: rgba(24, 28, 41, 0.8);
$color-error: indianred;

$color-button-hover: #a93d0b;
$color-button-disable: rgb(163, 161, 159);
$color-input-search: #eee;

$content-width: 1440px;
$tablet-width: 768px;
$mobile-width: 380px;
