<div class="wrapper">
  <div class="content-wrapper">
    <section class="about__container about__section__hero">
      <div class="hero__content__wrapper">
        <h1>Hero</h1>
        <h2>
          We are a passionate team of developers who built an <span>Angular-based e-commerce application</span>
          powered by the
          <span>Commercetools API</span>.
          <br />
          Our mission is to create seamless, scalable, and user-friendly digital shopping experiences.
        </h2>
      </div>
      <img src="../../assets/images" alt="hero image" />
    </section>

    <section class="about__container about__section__school_link">
      <h2 class="about__section__header">school link</h2>
      <div class="about__section__content">
        <a href="https://rs.school/">
          <div class="rs-information">
            <div class="logo-rs"></div>
            <div class="logo-rs__message">
              <h2>This project was created as part of the RS School learning course</h2>
              <p>Learn more about RS School</p>
            </div>
          </div>
        </a>
      </div>
    </section>

    <section class="about__container about__section__team_embers">
      <h2 class="about__section__header">Team Members</h2>
      <div class="about__section__content">
        <div>Member 1</div>
        <div>Member 2</div>
        <div>Member 3</div>
      </div>
    </section>

    <section class="about__container about__section__technology">
      <h2 class="about__section__header">Technology what we use</h2>
      <div class="about__section__content technology scrollable">
        @for (item of technology; track item.name) {
          <div class="ic_name ic_name__{{ item.name }}"></div>
        }
      </div>
    </section>

    <section class="about__container about__section__development_life_cycle">
      <div class="col_wrap">
        <h2 class="about__section__header">Our Software Development Life Cycle (SDLC)</h2>
        <h2 class="about__section__header">Utilizing an agile software development approach</h2>

        <p>
          Our SDLC follows an **Agile methodology**, ensuring flexibility, rapid iterations, and continuous feedback. Here’s how we
          structure our workflow:
        </p>
      </div>
      <div class="about__section__content">
        <div>development_life_cycle 1</div>
        <div>development_life_cycle 2</div>
        <div>development_life_cycle 3</div>
        <div>development_life_cycle 4</div>
        <div>development_life_cycle 5</div>
        <div>development_life_cycle 6</div>
      </div>
    </section>

    <section class="about__container about__section__collaboration">
      <h2 class="about__section__header">Collaboration and Communication</h2>
      <div class="about__section__content collaboration scrollable">
        @for (item of collaboration; track item.name) {
          <div class="ic_name ic_name__{{ item.name }}"></div>
        }
      </div>
    </section>

    <section class="about__container about__section__scrum_process">
      <h2 class="about__section__header">Our Scrum Process</h2>
      <div class="about__section__content">
        <div>Scrum Process 1</div>
        <div>Scrum Process 2</div>
        <div>Scrum Process 3</div>
        <div>Scrum Process 4</div>
      </div>
    </section>

    <section class="about__container about__section__development_principles">
      <h2 class="about__section__header">Our Development Principles</h2>
      <div class="about__section__content">
        <div>Principles 1</div>
        <div>Principles 2</div>
        <div>Principles 3</div>
        <div>Principles 4</div>
        <div>Principles 5</div>
      </div>
    </section>

    <section class="about__container about__section__conclusion">
      <h2 class="about__section__header">Why Our Process Works</h2>
      <div class="about__section__content">
        <div class="about__section__content">
          <div>Process 1</div>
          <div>Process 2</div>
          <div>Process 3</div>
          <div>Process 4</div>
        </div>
        <p>
          By following these principles, we build **scalable, maintainable, and user-friendly e-commerce solutions** with efficiency and
          pride. 🚀
        </p>
      </div>
    </section>
  </div>
</div>
