@use '../../../style/abstract/constant' as *;
@use '../../../style/abstract/placeholders' as *;
@use '../../../style/abstract/mixins' as *;

.content-wrapper {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 2rem 1.5rem;
  min-height: calc(100vh - 124px);

  @include media-laptop-tablet {
    column-gap: 1.5rem;
    min-height: calc(100vh - 152px);
  }

  @include media-mobile-big {
    flex-direction: column;
    min-height: calc(100vh - 228px);
  }

  a {
    text-decoration: none;
    color: $color-primary;
    border: 2px solid $color-input-search;
    padding: 1.5rem;
    align-self: center;
    border-radius: 10px;
    @extend %transition;

    &:hover {
      color: $color-additional;
      box-shadow: 0 3px 7px $color-button-disable;
      background-color: $color-input-search;
    }

    .rs-information {
      display: flex;
      justify-content: center;
      column-gap: 2rem;
      align-items: center;

      .logo-rs {
        width: 5rem;
        height: 5rem;
        background-image: url('../../assets/images/rss-logo-about-us.svg');
        background-repeat: no-repeat;

        &__message {
          display: flex;
          flex-direction: column;
          row-gap: 1.5rem;
          font-weight: 600;

          @include media-tablet {
            h2 {
              font-size: 2rem;
            }
          }

          @include media-mobile-big {
            h2 {
              font-size: 1.6rem;
            }
            p {
              font-size: 1.4rem;
            }
          }
        }

        @include media-tablet {
          width: 8rem;
        }
      }
    }
  }
}
