<app-header
  (buttonClickedLogIn)="goToLogInPage()"
  (buttonClickedRegister)="goToRegisterPage()"
  (buttonClickedLogOut)="userLoggedOut()"
  (buttonClickedCart)="goToCart()"
  (buttonClickedProfile)="navigateToRoute('/profile')"
  (buttonClickedGoToHome)="navigateToRoute('/main')"
  (buttonClickedBooks)="navigateToRoute('/books')"
  (buttonClickedCosmetics)="navigateToRoute('/cosmetics')"
  (buttonClickedAboutUs)="navigateToRoute('/about-us')"
/>

<main class="main">
  <app-promotion-teaser [customClass]="'promo__alert'">
    Get 10% off your entire order! Use code SUMMER10 at checkout. Offer valid until 31/08/2025.
  </app-promotion-teaser>
  <app-breadcrumb></app-breadcrumb>
  <router-outlet />
</main>
<app-footer />
