<app-header
  (buttonClickedLogIn)="goToLogInPage()"
  (buttonClickedRegister)="goToRegisterPage()"
  (buttonClickedLogOut)="userLoggedOut()"
  (buttonClickedCart)="goToCart()"
  (buttonClickedProfile)="navigateToRoute('/profile')"
  (buttonClickedGoToHome)="navigateToRoute('/main')"
  (buttonClickedBooks)="navigateToRoute('/books')"
  (buttonClickedCosmetics)="navigateToRoute('/cosmetics')"
  (buttonClickedAboutUs)="navigateToRoute('/about-us')"
/>

<main class="main">
  <app-breadcrumb></app-breadcrumb>
  <router-outlet />
</main>
<app-footer />
