@use '../../../../../style/abstract/constant' as *;
@use '../../../../../style/abstract/mixins' as *;
@use '../../../../../style/abstract/placeholders' as *;

header {
  background-color: $color-primary;
  color: $color-additional;

  @include media-tablet {
    font-size: 1.3rem;
  }
  @include media-mobile-big {
    padding-left: 1rem;
  }
  @include media-mobile {
    padding-left: 0.5rem;
  }

  .wrapper {
    padding: 1rem 1.5rem 1rem;
    font-size: 1.6rem;
    display: flex;
    justify-content: space-between;

    @include media-tablet {
      font-size: 1.3rem;
      flex-direction: column;
      align-items: stretch;
    }
    @include media-mobile-big {
      padding-left: 1rem;
    }
    @include media-mobile {
      padding-left: 0.5rem;
    }
  }
}

.header__name {
  color: $color-additional;
  font-weight: bold;
  font-size: 2.6rem;
  cursor: pointer;
  flex: 2;
  @extend %transition;

  &:hover {
    color: $color-button-hover;
  }

  @include media-tablet {
    font-size: 1.7rem;
  }

  @include media-mobile-big {
    font-size: 1.5rem;
    text-align: start;
  }
}

.navigation__container {
  display: flex;
  justify-content: start;
}

.header__navigation__button {
  cursor: pointer;
  @extend %transition;

  &:hover {
    color: $color-input-search;
  }

  @include media-tablet {
    font-size: 1.6rem;
  }

  @include media-mobile-big {
    font-size: 1.4rem;
  }
}

.header__button {
  color: $color-input-search;
  background: $color-additional;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
  width: max-content;
  @extend %transition;

  &:hover {
    background: $color-button-hover;
    box-shadow: 0 1px 3px $color-input-search;
  }

  @include media-mobile {
    font-weight: 400;
  }
}

.active {
  background-color: #13aded;
}

.btn__logout {
  background-color: transparent;
  border: 0.15rem solid #fff;
}

.header__nav__wrapper {
  display: flex;
  justify-content: end;
  gap: 1rem;
  flex: 6;

  @media (max-width: 600px) {
    flex-wrap: wrap;
    justify-content: flex-end;
  }
}

.header__nav__item {
  display: flex;
  flex-direction: row;

  @include media-tablet {
    flex-direction: column;
  }

  @include media-mobile-big {
    flex-direction: column;
  }

  &__categories {
    order: 1;
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  &__search {
    flex: 1;
    order: 2;
    min-width: 180px;

    @include media-tablet {
      order: 3;
      flex: 1;
    }

    @include media-mobile-big {
      order: 3;
      flex: 1;
    }
  }

  &__navigation {
    order: 3;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 1rem;

    @include media-tablet {
      order: 2;
    }

    @include media-mobile-big {
      order: 2;
    }
  }
}
