@use '../../../../../style/abstract/constant' as *;

:host {
  display: flex;
  justify-content: start;
  align-items: center;
  column-gap: 1rem;
}

.product-price,
.product-discount {
  font-size: 2.6rem;
}

.product-currency {
  font-size: 2rem;
}

.product-old-price {
  text-decoration: line-through;
  font-size: 2rem;
}

.product-price,
.product-discount {
  font-weight: bold;
}

.product-price,
.product-currency,
.product-old-price {
  color: $color-old-price;
}

.product-discount {
  color: $color-additional;
}
