<header>
  <div class="header__name">
    <a href="#"> Cudo-shop </a>
  </div>
  <div class="header__search">
    <svg class="header-search"></svg>
    <input type="search" name="search" id="search" placeholder="Search..." />
  </div>
  <div class="header__buttons">
    @if (!isLogin) {
      <app-button
        label="Register"
        (buttonClicked)="buttonClickedRegister()"
        class="header__button"
      />
      <app-button label="Login" (buttonClicked)="buttonClickedLogIn()" class="header__button" />
    } @else {
      <app-button label="Cart" (buttonClicked)="buttonClickedCart()" class="header__button" />
      <app-button label="Logout" (buttonClicked)="buttonClickedLogOut()" class="header__button" />
    }
  </div>
</header>
