.header{
    background-color: #1A256C;
    color: #F07800;
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
    font-size: 1.6rem;
}

.header a{
    color: #F07800;
    text-decoration: none;
    font-weight: bold;
}