<!-- eslint-disable @angular-eslint/template/cyclomatic-complexity -->
<form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
  <h2>Hello! Register to get started</h2>
  <div class="field">
    <label for="email"></label>
    <div class="input-container">
      <input id="email" formControlName="email" placeholder="Email *" />
      <div class="error__container">
        <div *ngIf="isFieldInvalid('email')">
          <span class="error-line">
            {{ `${getFieldError('email') === 'pattern' ? `${errMsg.INVALID} email format` : `email ${errMsg.REQUIRED}`}` }}
          </span>
        </div>
      </div>
    </div>
  </div>

  <div class="field">
    <label for="password"></label>
    <div class="input-container">
      <input id="password" [type]="passwordFieldType" formControlName="password" placeholder="Password *" />
      <button type="button" class="toggler" (click)="togglePasswordVisibility()">{{ isPasswordVisible ? '🙈' : '👁️‍🗨️' }}</button>
      <div class="error__container">
        <div *ngIf="isFieldInvalid('password')">
          <span class="error-line">
            {{ `password ${getFieldError('password') === 'pattern' ? `${errMsg.PASSWORD}` : `${errMsg.REQUIRED}`}` }}
          </span>
        </div>
      </div>
    </div>
  </div>

  <div class="field">
    <label for="firstName"></label>
    <div class="input-container">
      <input id="firstName" formControlName="firstName" placeholder="First nsme *" />
      <div class="error__container">
        <div *ngIf="isFieldInvalid('firstName')">
          <span class="error-line">
            {{ `first name ${getFieldError('firstName') === 'pattern' ? `${errMsg.NAME}` : `${errMsg.REQUIRED}`}` }}
          </span>
        </div>
      </div>
    </div>
  </div>

  <div class="field">
    <label for="lastName"></label>
    <div class="input-container">
      <input id="lastName" formControlName="lastName" placeholder="Last Name *" />
      <div class="error__container">
        <div *ngIf="isFieldInvalid('lastName')">
          <span class="error-line">
            {{ `last name ${getFieldError('lastName') === 'pattern' ? `${errMsg.NAME}` : `${errMsg.REQUIRED}`}` }}
          </span>
        </div>
      </div>
    </div>
  </div>

  <div class="field">
    <label for="dob"></label>
    <div class="input-container input-container_bod">
      <input id="dob" type="date" formControlName="dob" placeholder="mm/dd/yyyy" />
      <div class="error__container">
        <div *ngIf="isFieldInvalid('dob')">
          <span class="error-line">
            {{ `${getFieldError('dob') === 'dob' ? registrationForm.get('dob')?.errors?.['dob'].message : `date of birth ${errMsg.REQUIRED}`}` }}
          </span>
        </div>
      </div>
    </div>
  </div>

  <div formGroupName="address">
    <h3>Address</h3>
    <div class="field">
      <label for="street"></label>
      <div class="input-container">
        <input id="street" formControlName="street" placeholder="Address *" />
        <div class="error__container">
          <div *ngIf="isFieldInvalid('address.street')">
            <span class="error-line">{{ `street ${errMsg.REQUIRED}` }}</span>
          </div>
        </div>
      </div>
    </div>

    <div class="field">
      <label for="city"></label>
      <div class="input-container">
        <input id="city" formControlName="city" placeholder="City *" />
        <div class="error__container">
          <div *ngIf="isFieldInvalid('address.city')">
            <span class="error-line">
              {{ `city ${getFieldError('city') === 'pattern' ? `${errMsg.NAME}` : `${errMsg.REQUIRED}`}` }}
            </span>
          </div>
        </div>
      </div>
    </div>

    <div class="field">
      <label for="postalCode"></label>
      <div class="input-container">
        <input id="postalCode" formControlName="postalCode" placeholder="Postal Code *" />
        <div class="error__container">
          <div *ngIf="isFieldInvalid('address.postalCode')">
            <span class="error-line">
              {{ `${getFieldError('postalCode') === 'message' ? getPostalCodeErrorMessage() : `postal code ${errMsg.REQUIRED}`}` }}
            </span>
          </div>
        </div>
      </div>
    </div>

    <div class="field">
      <label for="country"></label>
      <div class="input-container">
        <div class="error__container">
          <div *ngIf="isFieldInvalid('address.country')">
            <span class="error-line">{{ `country ${errMsg.REQUIRED}` }}</span>
          </div>
        </div>
        <div class="select__wrapper">
          <select id="country" formControlName="country">
            <option value="" disabled>Select a country *</option>
            <option *ngFor="let country of validCountries" [value]="country">{{ country }}</option>
          </select>
        </div>
      </div>
    </div>
  </div>
  <app-button
    label="Register"
    [disabled]="registrationForm.invalid"
    class="form__button"
    [ngClass]="{
      form__button_disabled: registrationForm.invalid,
      form__button_visible: !registrationForm.invalid,
    }"
  />
</form>

<span class="login-redirection">Already have an account? <a routerLink="/login">Login</a></span>
