@use '../../../../style/abstract/constant' as *;
@use '../../../../style/abstract/placeholders' as *;
@use '../../../../style/abstract/mixins' as *;

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  max-width: 50rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 3rem;
  row-gap: 1.5rem;
  font-size: 1.6rem;
}


h2 {
  text-align: center;
  color: $color-primary;
  @include media-mobile {
    font-size: 1.8rem;
  }
}


form input {
  width: 100%;
  padding: 8px 10px;
  border: none;
  box-shadow: 0px 2px $color-additional;
  &:focus {
    outline: none;
  }
  &.ng-invalid.ng-touched,
  &.ng-invalid.ng-touched {
    outline: 1px solid $color-error;
  }
}

div[formGroupName="address"] {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}

h3 {
  margin-top: 1.6rem;
  margin-bottom: 1.6rem;
}

.field{
  padding: 5px 0;
}

.input-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
}

.error__container{
  height: 20px;
  padding: 0 10px;
}

.toggler {
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.error-line {
  font-size: 1rem;
  color: $color-error;
}
.error__message{
  color: $color-error;
  background-color: $color-background-error;
  padding: 0.5rem;
  width: 100%;
  text-align: center;
}

.select__wrapper {
  position: relative;
  width: 100%;
  border: 2px solid $color-additional;
}

.select__wrapper select {
  width: 100%;
  height: 28px;
  padding: 0 10px;
  background: transparent;
  border: 0;
  color: $color-overlay;
  &:checked {
    border: none;
  }
}

select option:active{
  background-color: $color-additional;
}

.login-redirection {
  margin: 2.0rem 0 3.0rem 0;
  padding: 1rem;
  border-radius: 1rem;
  border: 2px solid $color-primary;
  background-color: $color-input-search;
}

.login-redirection a{
  color: $color-additional;
  text-decoration: none;
  @extend %transition;
  &:hover {
    color: $color-primary;
  }
}

.form__button{
  align-self: center;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
  margin-top: 2.0rem;
  @extend %transition;
  &_visible{
    color: $color-input-search;
    background: $color-additional;
    &:hover {
      background: $color-button-hover;
      box-shadow: 0 1px 3px $color-input-search;
    }
  }
  &_disabled{
    cursor: not-allowed;
    color: $color-input-search;
    background-color: $color-button-disable;
  }
}
