@import '../../../../../style/abstract/constant';
@import '../../../../../style/abstract/placeholders';

button {
  padding: 0.5rem 1.5rem;
  border-radius: 10px;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 2.2rem;
}
.button {
  color: $color-input-search;
  border: solid 1px transparent;
  cursor: pointer;
  background: transparent;
  @extend %transition;
  &:hover {
    color: $color-primary;
  }
}
