<article>
  <header>
    <h3>About You</h3>
    <button>Edit profile</button>
  </header>
  <div>{{ user?.firstName | titlecase }} {{ user?.lastName | titlecase }}</div>
  <div>Email: {{ user?.email }}</div>
  <div>Birthday: {{ user?.dateOfBirth | date }}</div>
</article>

<article>
  <header>
    <h3>Your Billing addresses</h3>
    <button>Add a new address</button>
  </header>
  <div class="address__card default">
    <div class="address__card__body">
      @if (defaultBillingAddress) {
        <div><span>Default</span></div>
      }
      <div>{{ user?.firstName | titlecase }} {{ user?.lastName | titlecase }}</div>
      <div>{{ defaultBillingAddress?.streetName | titlecase }}</div>
      <div>{{ defaultBillingAddress?.postalCode }} {{ defaultBillingAddress?.city | uppercase }}</div>
      <div>{{ defaultBillingAddress?.country | uppercase }}</div>
    </div>
    <div class="address__card__actions">
      <button>Edit</button>
      <button>Remove</button>
    </div>
  </div>

  @for (item of billingAddresses; track item.id) {
    @if (item?.id !== defaultBillingAddress?.id) {
      <div class="address__card">
        <div class="address__card__body">
          <div>{{ user?.firstName | titlecase }} {{ user?.lastName | titlecase }}</div>
          <div>{{ item?.streetName | titlecase }}</div>
          <div>{{ item?.postalCode }} {{ item?.city | uppercase }}</div>
          <div>{{ item?.country | uppercase }}</div>
        </div>
        <div class="address__card__actions">
          <button>Edit</button>
          <button>Remove</button>
        </div>
      </div>
    }
  }
</article>

<article>
  <header>
    <h3>Your Shipping addresses</h3>
    <button>Add a new address</button>
  </header>
  <div class="address__card default">
    <div class="address__card__body">
      @if (defaultShippingAddress) {
        <div><span>Default</span></div>
      }
      <div>{{ user?.firstName | titlecase }} {{ user?.lastName | titlecase }}</div>
      <div>{{ defaultShippingAddress?.streetName | titlecase }}</div>
      <div>{{ defaultShippingAddress?.postalCode }} {{ defaultShippingAddress?.city | uppercase }}</div>
      <div>{{ defaultShippingAddress?.country | uppercase }}</div>
    </div>
    <div class="address__card__actions">
      <button>Edit</button>
      <button>Remove</button>
    </div>
  </div>

  @for (item of shippingAddresses; track item.id) {
    @if (item?.id !== defaultShippingAddress?.id) {
      <div class="address__card">
        <div class="address__card__body">
          <div>{{ user?.firstName | titlecase }} {{ user?.lastName | titlecase }}</div>
          <div>{{ item?.streetName | titlecase }}</div>
          <div>{{ item?.postalCode }} {{ item?.city | uppercase }}</div>
          <div>{{ item?.country | uppercase }}</div>
        </div>
        <div class="address__card__actions">
          <button>Edit</button>
          <button>Remove</button>
        </div>
      </div>
    }
  }
</article>
