@use '../../../../../../style/abstract/constant' as *;
@use '../../../../../../style/abstract/mixins' as *;
@use '../../../../../../style/abstract/placeholders' as *;

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: end;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.modal-dialog {
  background-color: #ffffff;
  padding: 2rem;
  width: 35vw;
  overflow-x: hidden;
  overflow-y: scroll;

  @include media-laptop {
    width: 50vw;
  }
  @include media-tablet {
    width: 100vw;
  }
  @include media-mobile {
    padding: 1rem;
    width: 100vw;
  }
}

.modal-header {
  font-size: clamp(16px, 2vw, 24px);
  font-weight: bold;
}

.modal-body {
  padding: 1rem 0;
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
  padding-top: 1rem;
}

/* modal window */
.modal {
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    &__btn-submit {
      width: 100%;
      border-radius: 10px;
      background-color: $color-additional;
    }
  }
}

.btn {
  &__modal {
    &__close {
      width: 24px;
      height: 24px;
      background-color: transparent;
      border: none;
      transition: transform 0.25s ease-out;
      background-image: url('../../../../../assets/icons/close_24dp.svg');
      background-position: center;

      &:hover {
        transform: rotate(90deg);
        background-image: url('../../../../../assets/icons/close_24dp_color.svg');
      }
    }
  }
}
