<aside class="categories">
  <button (click)="goBack()">Go Back</button>
  @if (currentRoute === '/books') {
    <ul>
      <li>book title</li>
    </ul>
  }
  @if (currentRoute === '/cosmetics') {
    <ul>
      <li>cosmetics title</li>
    </ul>
  }

  <h3>Filter by category</h3>
  <ul>
    @for (category of categories; track $index) {
      <li tabindex="0" (click)="filterByCategory(category.id)" (keyup)="onKeyUpFilter($event, category.id)">
        {{ categoryHelperService.getCategoryName(category) }}
      </li>
    }
  </ul>
</aside>

<div class="product-list">
  @for (product of products; track $index) {
    @if (product.key) {
      <div [routerLink]="['/books', product.key]" class="product-list__item-link">
        <app-brief-card
          [title]="productHelperService.getProductName(product)"
          [imgUrl]="productHelperService.getProductImg(product)"
          [description]="productHelperService.getShortProductDescription(product)"
        ></app-brief-card>
      </div>
    }
  }
</div>
