<button (click)="goBack()">Go Back</button>
@if (currentRoute === '/books') {
  <ul>
    <li>book title</li>
  </ul>
}
@if (currentRoute === '/cosmetics') {
  <ul>
    <li>cosmetics title</li>
  </ul>
}

<div class="product-list">
  @for (product of products; track $index) {
    <app-brief-card
      [title]="productHelperService.getProductName(product)"
      [imgUrl]="productHelperService.getProductImg(product)"
      [description]="productHelperService.getShortProductDescription(product)"
    ></app-brief-card>
  }
</div>
