<section class="profile__section">
  <header class="profile__section__header">
    <h2>About You</h2>
    <app-button class="profile__btn btn__edit-profile" (buttonClicked)="openModal()">Edit profile </app-button>
  </header>
  <div class="profile__info">
    <div class="profile__info__name">
      @if (user()) {
        {{ user()?.firstName | titlecase }} {{ user()?.lastName | titlecase }}
      } @else {
        <span>-</span>
      }
    </div>
    <div><span>Email:</span> {{ user()?.email }}</div>
    <div><span>Birthday:</span> {{ user()?.dateOfBirth | date }}</div>
  </div>
</section>

<!-- Edit mode Modal -->
<app-edit-mode-modal [isVisible]="isModalVisible">
  <div modal-header>
    <div class="modal__header">
      <h2>Edit Personal info</h2>
      <app-button (buttonClicked)="closeModal()">
        <div class="btn__modal__close"></div>
      </app-button>
    </div>
  </div>
  <div modal-body>
    <form class="edit__form">
      <fieldset id="edit__name">
        <legend>Edit you personal data</legend>
        <div class="fields__container">
          <div class="field__wrapper">
            <label for="firstName"><input type="text" id="firstName" [value]="user()?.firstName" /></label>
          </div>
          <div class="field__wrapper">
            <label for="lastName"><input type="text" id="lastName" [value]="user()?.lastName" /></label>
          </div>
        </div>
      </fieldset>

      <fieldset id="edit__email">
        <legend>Change you Email</legend>
        <div class="fields__container">
          <div class="field__wrapper">
            <label><input type="email" [value]="user()?.email" /></label>
          </div>
        </div>
      </fieldset>

      <fieldset id="edit__birth-date" name="birthday-input" class="birthday-input">
        <legend>Edit your date of birth</legend>
        <div class="fields__container">
          <div class="field__wrapper">
            <label for="birthDateMonth"><input type="date" id="birthDateMonth" [value]="user()?.dateOfBirth" /></label>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
  <div modal-footer class="modal__footer">
    <div class="modal__footer__btn-submit">
      <app-button (buttonClicked)="submitForm()" class="profile__btn btn__modal__submit">Save changes </app-button>
    </div>
  </div>
</app-edit-mode-modal>
