<section>
  <div class="sorting__header">
    <h3>Sort by alphabetical</h3>
  </div>
  <div class="sort__body">
    <div class="filter__section__sorting">
      <div class="filter__section__sorting__item order_az">
        <input type="radio" name="filterSectionSorting" id="filterSectionSorting-3" (click)="sortProductsAsc()" />
        <label for="filterSectionSorting-3">Order A → Z</label>
      </div>
      <div class="filter__section__sorting__item order_za">
        <input type="radio" name="filterSectionSorting" id="filterSectionSorting-4" (click)="sortProductsDesc()" />
        <label for="filterSectionSorting-4">Order Z → A</label>
      </div>
    </div>
  </div>
</section>
