@use '../../../../../../style/abstract/constant' as *;
@use '../../../../../../style/abstract/mixins' as *;
@use '../../../../../../style/abstract/placeholders' as *;

.modal__wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $color-overlay;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  position: relative;
  margin: 0 auto;
  width: 80%;
}

.modal__button {
  position: absolute;
  top: 0;
  right: 11px;
  font-size: 3.6rem;
  color: $color-input-search;
  cursor: pointer;
  @extend %transition;
  &:hover {
    color: $color-primary;
  }
}

.modal__window {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal__image-container {
  height: 60%;
}

.modal__image-container img {
  width: 80%;
  height: 70%;
  object-fit: cover;
}

.modal__left,
.modal__right {
  font-size: 3.6rem;
  color: $color-input-search;
  background-color: $color-button-disable;
  cursor: pointer;
  @extend %transition;
  &:hover {
    color: $color-primary;
  }
}